body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  position: relative;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  position: relative;
}


#score {
  font-size: 24px;
  margin-bottom: 20px;
}

#hold {
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}

canvas {
  border: 1px solid black;
  width: 100%;
  max-width: 300px;
  height: auto;
}

#tetrisCanvas {
  position: relative;
}

#holdCanvas {
  position: absolute;
  top: 0;
  left: 250px;
  width: 100px;
  height: 100px;
  z-index: 1;
  border: 1px solid red; /* Added border for visibility */
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
}

    #tetrisPlayers {
      flex-wrap: wrap;
      justify-content: center; /* 中央に寄せる */
      align-items: center; /* 中央に寄せる */
      height: 100vh; /* ページの高さいっぱいにDiv要素を表示 */
    }
#userCount {
  font-size: 16px; /* 必要に応じてフォントサイズを調整 */
  position: absolute;
  top: 0;
  right: 250px;
  margin: 10px; /* 適宜マージンを設定してください */
  z-index: 1; /* Canvasよりも前面に表示されるように */
}
